body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: space-between;
    transition:background-color 0.3s;
}
p{
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}
h2{
    color: white;
    margin-left: 20px;

}